body{
  max-width: 1100px;
  background-color: aliceblue;
  margin: 0 auto;
}
.font-open-sans{
  font-family: "Open San", sans-serif;
}

header{
  background-color: blueviolet;
 
 

}
nav{
  width: 100%;
  align-items: center;
  display: flex;
  justify-content: space-between;

}
.logo{
  display: flex;
   padding: 3px;
    margin: 7px;
    border: 1px solid gray;
    align-items: center;
}
.logo img{
  height: 100px;
  width: 100px;
  border-radius: 100px;
  
}
#mr{
    padding-left: 14px;
}
nav ul{
      display: flex;
    gap: 17px;
    font-size: 1.5em;
    margin: 1px solid red;
    align-items: center;
 
}
nav li{
  list-style: none;
}
nav li a{
 
  text-decoration: none;
padding: 10px;  
}
nav ul li a:hover{
  background-color: aquamarine;
}
.btn{
    margin: 1px solid red;
    width: 94px;
    height: 53px;
    border-radius: 14px;
}
.btn:hover{
  background-color: brown;
}

.baner{
    display: flex;
    background-color: gainsboro;
    justify-content: space-between;
    align-items: center;
    padding-left: 14px;
    margin-top: 14px;
    padding-bottom: 20px;
}
.baner-containt{
    
        width: 315px;
    font-size: 18px;
    font-family: cursive;
    padding-left: 109px;
}
.baner-img img{
    padding-top: 50px;
    padding-right: 10px;
    height: 376px;
    
}






.card-container{
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  text-align: center;
}

.card{
  width: 300px;
  border: 2px solid rosybrown;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 10px 10px 10px black;
  text-align:left;
}
.card:hover{
  background-color: blueviolet;
}
.card img{
  width: 100%;
  border-radius: 10px;
}

.card button{
  background-color: aqua;
  padding: 10px 30px;
  font-size: 1.25em;
  border-radius: 10px;
  cursor:pointer ;
}