body{
  max-width: 1100px;
  background-color: aliceblue;
  margin: 0 auto;
}


header{
  background-color: blueviolet;
}
nav ul{
display: flex;  

}
nav li{
  list-style: none;
  margin: 20px;
  height: 20px;
  background-color: azure;
}
nav li a{
  text-decoration: none;
}
nav li:hover{
  background-color: brown;
  height: 15px;
}

.card-container{
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  text-align: center;
}

.card{
  width: 300px;
  border: 2px solid rosybrown;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 10px 10px 10px black;
  text-align:left;
}
.card:hover{
  background-color: blueviolet;
}
.card img{
  width: 100%;
  border-radius: 10px;
}

.card button{
  background-color: aqua;
  padding: 10px 30px;
  font-size: 1.25em;
  border-radius: 10px;
  cursor:pointer ;
}